

/* ======== banner slide ======== */

#introduction {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 105;
	background-color: #141414;
	cursor: pointer;
	overflow: hidden;
	top: 0;
	left: 0;
}

#introduction .image-container {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: relative;
}

@media (max-width: 768px) {
	#introduction .image-container {
		height: 80vh;
	}
}

#introduction .banner-logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 1600px;
}

#introduction .slide {
	position:fixed;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	background: rgb(0, 0, 0);

}

#introduction .slide p {
  padding-top: 200px;
  font-size: 40px; 
  font-family: 'Lexend', sans-serif;
  font-weight: 100;
  text-align: center; 
  color: #fff;
}

#introduction .slide-2 {
	height: 0;
}

body {
	margin: 0;
	padding: 0;
}

.slide-1 {
	z-index: 999;
}

.image-container {
	background-color: #ffde59;
}

#content {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	font-weight: 600;
	color: #ffffff;
}





/* ======== about ======== */
#about-sec h2, p {
  text-align: left;

}

#about-main {
  margin-top: 70px;
}
#about-box {
 margin-top: -70px;
 margin-bottom: 200px;
}

#about-box h2 {
text-align: left;
padding-left: 30px;
}

#first-row {
  margin-bottom: 6rem;
}

.notemp{
  display: inline-block;
  padding-left: 200px;
}
.first {
  width: 375px;
  height: 20px;
  background-color: lightgreen;
  word-wrap: break-word;
  margin-left: 30px;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.second{
  width: 375px;
  height: 20px;
  background-color: green;
  z-index: 500;
  top: 50px;
  margin-left: 30px;
  transition: opacity 0.5s linear ;
}
.third{
  width: 375px;
  height: 20px;
  background-color: orange;
  position: relative;
  margin-left: 30px;
  transition: opacity 0.7s linear;
}
.forth{
  width: 375px;
  height: 20px;
  background-color: red;
  position: relative;
  margin-left: 30px;
  transition: opacity 0.9s linear;
}

.fix{
  height: 12px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}








/* ======== Model Viewer ======== */


model-viewer {
  width: auto;
  max-width: 1200px;
  height: 600px;
  background: rgb(255,255,255);
  background: linear-gradient(100deg, rgba(255,255,255,1) 20%, rgba(253,212,0,0.7018206940979517) 30%, 
  rgba(0,0,0,0.6962184532015931) 30%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.7) 70%, rgba(253,212,0,0.7) 70%, 
  rgba(255,255,255,1) 80%); 
  margin: 0 auto;
}

.Hotspot {
  background: url(../images/hotspot2.svg) center no-repeat;
  border: 0px;
  width: 45px;
  height: 38px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #000000;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  display: block;
  font-family: 'Lexend', sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 450px;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  padding-top: 30px;
  border: solid rgb(255, 255, 255) 2px;
  -webkit-box-shadow: 10px 10px 17px -1px rgba(0,0,0,0.95); 
  box-shadow: 10px 10px 17px -1px rgba(0,0,0,0.95);
}

.HotspotAnnotation i {
  margin-top: 20px;
}

.HotspotAnnotation p {
  color: #ffffff;
  line-height: 22px;
  font-weight: 300;
  margin:30px 0 50px 0;
  text-align: left;
}

.HotspotAnnotation h3 {
  font-size: 18px;
  margin: 20px 0 30px 0;
}

.HotspotAnnotation p {
  font-size: 14px;
}


model-viewer::part(default-progress-bar) {
  height: 30px;
  background-color: #00B3A6;
}

/* AR Rules */
#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

#about-us {
  margin-bottom: 40px;
}

#founders section {
  margin-bottom: 40px;
}

#hotspotIcon {
  font-size: 32px;
}

 








/* ======== x-ray image revealer ======== */

#outerShell {
  display: none;
}

#imageCon {
  margin-bottom: 100px;
}

#x-ray-content {
  margin-bottom: 100px;
}

@media screen and (min-width: 1200px) {
  #mobile-tablet-view {
    display: none;
  }
  #outerShell {
    display: block;
    max-width: 940px;
    margin: auto;
   }
  #imageCon {
    position: relative;
    max-width: 70vw;
    height: 90vh;
  }
  .slideImage {
    position: absolute;  
    left: 0;
    right: 0;
    height: 90vh;
  }
  .image-right {
    background: url(../images/earbud-x-ray.png) no-repeat;
    background-size: cover;
  }
  .image-left {
    background: url(../images/earbud.png) no-repeat;
    width: 50%; 
    background-size: cover;
  }
  .image-drag {
    background-color: #ffde59;
    left: 50%; 
    width: 25px;  
    cursor: pointer;
  }


}






/* ======== page css ========*/


html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
}


#about-us {
  margin-bottom: 40px;
}

#hotspotIcon {
  font-size: 32px;
}

#model-canvas {
  margin-top: 120px; margin-bottom: 120px;
  max-width: 85vw;
  border: 5vmin solid #ffde59;
}

h1 {
  font-family: 'Lexend', sans-serif;
  letter-spacing: 12px;
  line-height: 38px;
  text-align: center;
  color: white;
  font-weight: 900;
  margin-top: 25px;
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 45px;}

p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: lighter;
}

#intro h2 {
  margin-bottom: 20px;
  text-align: left;
 }

 #intro p {
  text-align: left;
 }

#hero-main {
  margin-top: 50px;
}

#explode-view {
  max-width: 100%;
 }





@media screen and (min-width: 768px) {
 
  #second-row-lights {
    margin-left: auto;
  }

  .first {
    width: 200px;
    height: 20px;
    background-color: lightgreen;
    word-wrap: break-word;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  .second{
    width: 200px;
    height: 20px;
    background-color: green;
    z-index: 500;
    top: 50px;
    margin-left: 30px;
    transition: opacity 0.5s linear ;
  }
  .third{
    width: 200px;
    height: 20px;
    background-color: orange;
    position: relative;
    margin-left: 30px;
    transition: opacity 0.7s linear;
  }
  .forth{
    width: 200px;
    height: 20px;
    background-color: red;
    position: relative;
    margin-left: 30px;
    transition: opacity 0.9s linear;
  }

  #about-box {
    margin-top: 40px;
   }
}



