#about-us {
    margin-bottom: 40px;
}

#founders section {
    margin-bottom: 40px;
}

#hotspotIcon {
    font-size: 32px;
}

body {
    background-color: #FA8500;
}

h1 {
    font-family: Futura, Helvetica Neue, sans-serif;
    letter-spacing: 12px;
    line-height: 38px;
    text-align: center;
    color: white;
    font-weight: 900;
    margin-top: 25px;
}